
body {
    margin: 0px;
    // font-family: 'Noto Sans JP', sans-serif;
    // font-family: 'PT Serif', serif;
    font-family: 'Montserrat', sans-serif;
    background-color: $offwhite;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    
    
}