.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .filter-links {
        display:flex;
        justify-content: center;
        box-shadow: 0px 2px 1px 1px $charcoal ;

        .btn {
            width: 100%
        }

    }
}