.resume-container {
  // width: 1650px;
  max-width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .resume {
    border: 1px solid $grey;
    max-width: auto;
    height: auto;
  }
}
